*.csv filter=lfs diff=lfs merge=lfs -text
MasterData.Rmd filter=lfs diff=lfs merge=lfs -text
DataMaster.csv filter=lfs diff=lfs merge=lfs -text
GlobalLandTemperaturesByCity.csv filter=lfs diff=lfs merge=lfs -text
